.modal-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1051;
}

.modal-container {
    border-radius: 8px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    animation-name: zoomIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.modal-container.zoomOut {
    animation-name: zoomOut;
}

.title {
    font-size: 18px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.title > div {
    word-break: break-all;
}

.footer {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.btn {
    border-width: 2px;
    border-radius: 8px;
}

.close-btn {
    font-size: 20px;
    padding: 4px;
    cursor: pointer;
}

@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.7);
        opacity: 0;
    }
}
