button[data-toggle] {
    border: none;
    outline: none;
}

.links {
    margin-left: -15px!important;
    margin-right: -15px!important;
}

a {
    &:not(.btn) {
        font-size: 18px;
    }

    &.active {
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .sidenav {
        position: sticky;
        top: 3.5rem;
        height: calc(100vh - 3.5rem);
    }
}