.tab-link {
    display: flex;
    color: #555;
    margin-bottom: 12px;
}

.scroll-content {
    display: flex;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.scroll-content::-webkit-scrollbar {
    display: none;
}

.tab-link > button {
    color: inherit;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    padding: 12px;
    margin: 0 4px;
}

.tab-link > button:active {
    background-color: #e0e0e0;
}

.tab-link > button > i {
    width: 20px;
}